
# Created by https://www.gitignore.io/api/java

### Java ###
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.gitignore.io/api/java
/bin/
/target/
.idea
.settings
icons
META-INF
Resource
target
out
log
.*
*.iml
src/main/java/kr/ac/jbnu/ssel/misrac/ReportWriter.java
src/main/java/kr/ac/jbnu/ssel/misrac/RuleMapper.java
src/main/resources/MISRA-C-Mapping.xlsx
git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch src/main/java/kr/ac/jbnu/ssel/misrac/ReportWriter.java' --prune-empty --tag-name-filter cat -- --all